body {
    background-image: url(../images/th.jpg);
    background-repeat: no-repeat;
}
.contect {
    margin: 0%, 0%;
    padding: 0%;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    font-size: 20px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 100px;
}
.contect a{
    color: black !important;
}
footer {
    background-color: black;
}
footer ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
}
.right :hover {
    color:rgb(230, 0, 0);
    transition: 1s,;
}